DATA_RAW_PATH=
DATA_BRONZE_PATH=
LOG_PATH=
BRONZE_FORMAT=

BCB_CURRENCIES=
BCB_TARGET_COUNTRIES=
BCB_START_DATE=
BCB_END_DATE=
BCB_TIMEOUT_SECONDS=
BCB_RETRY_ATTEMPTS=

GOLD_POSTGRES_ENABLED=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

AIRFLOW_DAG_SCHEDULE=
AIRFLOW_DAG_RETRIES=
AIRFLOW_DAG_RETRY_DELAY_MINUTES=
AIRFLOW_TASK_EXECUTION_TIMEOUT_SECONDS=
AIRFLOW__CORE__PARALLELISM=
AIRFLOW__CORE__DAG_CONCURRENCY=
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=
AIRFLOW__SCHEDULER__CATCHUP_BY_DEFAULT=
AIRFLOW__CORE__TASK_EXECUTION_TIMEOUT=
AIRFLOW__LOGGING__LOGGING_LEVEL=
AIRFLOW__LOGGING__BASE_LOG_FOLDER=
AIRFLOW__WEBSERVER__BASE_URL=
AIRFLOW__WEBSERVER__WEB_SERVER_PORT=
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=
AIRFLOW__CORE__FERNET_KEY=


